<div id="col-main full">
  {% include 'carousel' %}
  {% include 'if-shop-has-no-products' %}

  {% for collection in collections %}
    {% include 'products-by-collection' %}
  {% endfor %}
</div><!-- /#col-main -->
