<div id="col-main" class="full">
  {% include 'carousel' %}
  {% include 'if-shop-has-no-products' %}

  {% for product in collections['Current'].products %}
    {% include 'product-full' %}
  {% endfor %}
</div><!-- /#col-main -->
