<div id="col-main full">
  {% include 'carousel' %}
  {% include 'if-shop-has-no-products' %}

  {% for collection in collections %}
    {% include 'products-by-collection' %}
  {% endfor %}
  <p>Store is closed temporarily.  It will re-open this afternoon.</p>
</div><!-- /#col-main -->
